@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: black !important;
}

.brand-logo{
  font-family: 'Grand Hotel', cursive;
}

.auth-card{
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  max-width: 400px;
  font-family: 'Grand Hotel', cursive;
}

.mycard{
  margin-top: 30px;
}

.input-field input[type=text]:focus , .input-field input[type=password]:focus {
  border-bottom: 1px solid #29b6f6 !important;
  box-shadow: 0 1px 0 0 #29b6f6 !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 30%;
}

.home{
}
.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;

}